{% extends "base.html" %}
{% load i18n %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row container_size">
                <div class="form_container container_size">
                    <div class="form-group">
                        <div>
                            <p>
                                 <label class="small mb-1">{% trans 'Логин'%}</label>
                            {{ user_form.username }}
                            </p>
                          <p>
                               <label class="small mb-1">{% trans 'Имя'%}</label>
                            {{ user_form.first_name }}
                          </p>

                        </div>
                       <div>
                           <p>
                                <label class="small mb-1">{% trans 'Фамилия'%}</label>
                            {{ user_form.last_name }}
                           </p>
                            <p>
                                <label class="small mb-1">{% trans 'Почта'%}</label>
                            {{ user_form.email }}
                            </p>

                       </div>
                      <div>
                          <p>
                               <label class="small mb-1">{% trans 'Телефон'%}</label>
                            {{ user_form.phone }}
                          </p>
                         <p>
                             <label class="small mb-1">{% trans 'Адрес'%}</label>
                            {{ user_form.address }}
                         </p>

                      </div>

                    </div>
                    <div class="p-3 border bg-light  change_password">
                        <a href="password_change">{% trans 'Изменить пароль'%}</a>

                    </div>


            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg butn_sbmit">{% trans 'Сохранить изминения'%}</button>

        </form>
    </div>
        <h3 class="btn btn-primary titel_my_children">{% trans 'Мои дети'%}</h3>
    <table class="table">
  <thead>

    <tr>

      <th scope="col" class="tabel_data">{% trans 'Имя'%}</th>
      <th scope="col" class="tabel_data">{% trans 'Фамилия'%}</th>
      <th scope="col" class="tabel_data">{% trans 'ID номер'%}</th>
        <th scope="col" class="tabel_data">{% trans 'Детский сад'%}</th>
        <th scope="col" class="tabel_data">{% trans 'Очередь'%}</th>
    </tr>
  </thead>
          <tbody class="table-group-divider">
            {% for chil in data%}
    <tr>

        <td class="tabel_data">{{chil.name}}</td>
        <td class="tabel_data">{{chil.surname}}</td>
        <td class="tabel_data">{{chil.id_number}}</td>
          <td class="tabel_data">{{chil.det_sads}}</td>
        {%if chil.ochered is not None%}
          <td class="tabel_data">{{chil.ochered}}</td>
        {%endif%}
        {%endfor%}
    </tr>
</tbody>
</table>
{% endblock content %}