{% extends 'base.html' %}

 {% load i18n %}
{% block content %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>{% trans "Забыли пароль?Введите вашу почту и username, мы вам отправим письмо с дальнейшими действиями "%}</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form.email }}
			{{ password_reset_form.username }}
            <button class="btn btn-primary" type="submit">{% trans "Отправить письмо "%}</button>
        </form>
  	</div>

{% endblock %}