{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block building %}

{%if myfilter.qs%}
<div class="container px-4">
      <div class="row gx-5">
        <div class="col">
<form method = "get" >
    {% trans 'Детский садик:' %}{{myfilter.form.name   }}
    {% trans 'Район:' %}{{myfilter.form.area  }}
    {% trans 'Дополнительные кружки:' %}{{myfilter.form.translations__addition   }}
    {% trans 'Cвободные места:' %}{{myfilter.form.free_places   }}
    <button type="submit">{%  trans 'Фильтр'  %} </button>

<!--    {% for obj in myfilter.qs %}-->
<!--        {{ obj.name }} - ${{ obj.address }}<br />-->
<!--    {% endfor %}&ndash;&gt;-->

</form>
        {%if not myfilter.qs%}
            <h3>{{' NOT FOUND' }}</h3><br />
        {%else%}

            <table class="table">
      <thead>

        <tr>

          <th scope="col" class="tabel_data">{% trans 'Название'%}</th>
          <th scope="col" class="tabel_data">{% trans 'Адрес'%}</th>
          <th scope="col" class="tabel_data">{% trans 'Район'%}</th>
            <th scope="col" class="tabel_data">{% trans 'Телефон'%}</th>
            <th scope="col" class="tabel_data">{% trans 'Очередь'%}</th>
        </tr>
      </thead>
              <tbody class="table-group-divider">
                {%for obj in myfilter.qs%}
        <tr>

            <td class="tabel_data"><a href="{{ obj.get_absolute_url  }}">{{obj.name}}</a></td>
            <td class="tabel_data">{{obj.address}}</td>
            <td class="tabel_data">{{obj.area}}</td>
            <td class="tabel_data">+372-{{obj.phone_number}}</td>
              <td class="tabel_data">{{obj.num_register_child}}</td>

            {%endfor%}
        </tr>
    </tbody>
    </table>
            {%endif%}



{%else%}
            {%if not object_list%}
            <div class="container px-4">
      <div class="row gx-5">
        <div class="col2">

            <thead>

            <tr>
                <h3>{%  trans 'Вы ввели не существующие имя. Пожалуйста,попробуйте еще раз.'  %}</h3>
                <a href="{%url 'buildings'%}"><button>{%  trans 'Назад'  %}</button></a>
            {%endif%}
            {%if object_list%}
     <table class="table">
      <thead>

        <tr>

          <th scope="col" class="tabel_data">{% trans 'Название'%}</th>
          <th scope="col" class="tabel_data">{% trans 'Адрес'%}</th>
          <th scope="col" class="tabel_data">{% trans 'Район'%}</th>
            <th scope="col" class="tabel_data">{% trans 'Телефон'%}</th>
            <th scope="col" class="tabel_data">{% trans 'Очередь'%}</th>
        </tr>
      </thead>
         <tbody class="table-group-divider">
        {%for obj in object_list%}
            {% include "search.html"%}
        {%endfor%}
        </tbody>
    </table>
     {%endif%}
{%endif%}
{% endblock %}