{%extends 'base.html'%}
{% load i18n %}

 {%block main%}
<main class="container_size">
      <div class="container_pick ">
        <h1 class="container_pick-titel">
          {% trans 'Справочник' %} <span> {% trans 'образовательных учреждений' %} </span> <span> {% trans 'Таллинна' %}</span> </span>
        </h1>
      </div>

      <div class="info">
        <div class="info_item">
          <h3>{% trans 'Школы' %}</h3>
          <p>{{ value1|truncatewords:15 }}</p>
          <p><button ><a href='{% url "school"%}'>{% trans 'Читать' %}</a></button></p>
          <ul>
            <li>{%trans " Поиск учреждения"%}</li>
            <li>{%trans " Как поступить"%}</li>

          </ul>
        </div>
        <div class="info_item">
          <h3>{% trans 'Cадики' %}</h3>
          <p>{{ value2|truncatewords:15 }}</p>
          <p><button ><a href='{% url "school"%}'>{% trans 'Читать' %}</a></button></p>
          <ul>
            <li><a href="{% url 'buildings'%}">{%trans "Поиск учреждения"%}</a></li>
            <li>{%trans "Как подать заявление"%}</li>

          </ul>
        </div>
        <div class="info_item">
          <h3>Lorem how you </h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, delectus.</p>
          <ul>
            <li>{% trans 'Контакты' %}</li>
            <li><a href="{% url 'contact'%}">{%  trans 'Связаться с нами'  %}</a></li>

          </ul>
        </div>

      </div>
    </main>

{% endblock%}