{% extends 'base.html' %}
  {% load i18n %}
{% block content %}

<div>
    <form method="post" class="container_size form_registration">
    {% csrf_token %}
        <div class ="form-label" >
            {{ form.as_p }}

    <button type="submit">{% trans "Войти "%}</button>
    <ul class="registretion_ul">
        <span>Sing up </span><a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
    </ul>
<p class="forgot_password"><a href="{% url 'password_reset' %}">{% trans "Забыли пароль? "%}</a></p>
        </div>

</div>


{% endblock %}