{% extends 'base.html' %}

{%block personal_data%}

<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
        <h3 class="btn btn-primary">Мои данные</h3>
        <div class="p-3 border bg-light"><p><h4>{{user.username}}</h4></p></div>
        <div class="p-3 border bg-light"><button><a href="password_change">Смена  пароля</a></button></div>
        <h3 class="btn btn-primary">Мои дети</h3>
        <table class="table">
  <thead>
    <tr>

      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">ID номер</th>
        <th scope="col">Детский сад</th>
        <th scope="col">Очередь</th>
    </tr>
  </thead>
          <tbody class="table-group-divider">
            {% for chil in data%}
    <tr>

        <td>{{chil.name}}</td>
        <td>{{chil.surname}}</td>
        <td>{{chil.id_number}}</td>
          <td>{{chil.det_sads}}</td>
        {%if chil.ochered is not None%}
          <td>{{chil.ochered}}</td>
        {%endif%}
        {%endfor%}
    </tr>
</tbody>
</table>

{% endblock%}